In [44]:
import pandas as pd

In [45]:
stock_price=pd.read_excel('portfolio.xlsx',sheet_name='stock_price')
sales_value=pd.read_excel('portfolio.xlsx',sheet_name='sales_value')
sales_unit=pd.read_excel('portfolio.xlsx',sheet_name='sales_unit')

In [46]:
def date(df_):
    df_= pd.to_datetime(df_)
    return df_

In [47]:
stock_price['date']=date(stock_price['date'])
sales_value['date']=date(sales_value['date'])
sales_unit['date']=date(sales_unit['date'])

In [22]:
pd.to_datetime('2019-8')

Timestamp('2019-08-01 00:00:00')

In [100]:
def mom(n,pre,ratio): # n+pre<24
    dic={}
    if(pre.month+n)-13>0:
        c_m=pre.month+n-12
        c_y=pre.year+1
    else:
        c_m=pre.month+n
        c_y=pre.year
    c_date=pd.to_datetime(str(c_y)+'-'+str(c_m))
    p_date=pre
    # calculate
    for i in range(1,len(sales_value[sales_value.index==c_date].columns)):
        c_value=int(sales_value.loc[sales_value['date']==c_date,sales_value.columns[i]])
        p_value=int(sales_value.loc[sales_value['date']==p_date,sales_value.columns[i]])
        dic.update({i:c_value/p_value})
    lst=sorted(dic.values())
    number=int(ratio*(len(sales_value[sales_value.index==c_date].columns)-1))
    lst_top=[]
    lst_bot=[]
    for num in range(number):
        for key, value in dic.items():
            if value== lst[num]:
                lst_bot.append(key)
        for key, value in dic.items():
            if value== lst[-num-1]:
                lst_top.append(key)
    return lst_top,lst_bot

In [104]:
top,bot=mom(1,pd.to_datetime('2016-3'),0.25)

In [103]:
stock_price

,date,equity A,equity B,equity C,equity D,equity E,equity F,equity G,equity H
0,2016-03-01,69,56,58,75,85,98,69,52
1,2016-03-04,78,51,81,76,80,78,84,58
2,2016-03-05,67,70,53,75,54,63,66,87
3,2016-03-06,82,71,55,63,59,67,86,89
4,2016-03-20,91,80,70,51,63,88,93,88
5,2016-04-04,50,79,59,83,57,73,71,65
6,2016-04-07,56,62,83,70,98,54,83,83
7,2016-04-25,87,91,72,87,84,86,56,90
8,2016-05-04,75,78,96,75,57,65,50,82
9,2016-05-08,100,54,76,100,75,93,92,67
10,2016-05-18,100,59,78,66,96,98,70,98

In [115]:
stock_price.iloc[1,3]

81

In [114]:
s=5
e=8

In [119]:
lst_p=[]
lst_n=[]

n=len(top)
for i in range(s+1,e):
    for x in range(n):
        lst_p.append((stock_price.iloc[i,top[x]]/stock_price.iloc[s,top[x]])*1000)        
        lst_n.append((stock_price.iloc[i,bot[x]]/stock_price.iloc[s,top[x]])*(-1000))

In [120]:
lst_p

[843.3734939759037, 1719.298245614035, 1048.1927710843372, 1473.6842105263156]

In [121]:
lst_n

[-674.6987951807229,
 -1456.140350877193,
 -1048.1927710843372,
 -1263.157894736842]

In [112]:
stock_price.iloc[0]

date        2016-03-01 00:00:00
equity A                     69
equity B                     56
equity C                     58
equity D                     75
equity E                     85
equity F                     98
equity G                     69
equity H                     52
Name: 0, dtype: object